<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Ingredient</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.0.0/jquery.min.js" ></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-3">
            <!--/*@thymesVar id="ingredient" type="io.gitlab.chkypros.sf5btg.recipesapp.commands.IngredientCommand"*/-->
            <form  th:object="${ingredient}" th:action="@{'/recipe/' + ${ingredient.recipeId} + '/ingredient'} " method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="card-group">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3 class="card-title">Edit Ingredient Information</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label for="amount">Amount:</label>
                                    <input id="amount" type="number" class="form-control" th:field="*{amount}"/>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label for="unitOfMeasure">UOM:</label>
                                    <select id="unitOfMeasure" class="form-control" th:field="*{unitOfMeasure.id}">
                                        <!--/*@thymesVar id="uomList" type="java.util.List<io.gitlab.chkypros.sf5btg.recipesapp.commands.UnitOfMeasureCommand>"*/-->
                                        <option th:each="uom : ${uomList}"
                                                th:value="${uom.id}"
                                                th:selected="${uom.id.equals(ingredient.unitOfMeasure.id)}"
                                                th:text="${uom.toString()}">Each</option>
                                    </select>
                                </div>

                                <div class="col-md-3 form-group">
                                    <label for="description">Description:</label>
                                    <input id="description" type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>