<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>My Recipes!</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.0.0/jquery.min.js" ></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card">
                    <div class="card-heading bg-primary text-white rounded-top">
                        <h3 class="card-header">Recipes List</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                            <table class="table table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th align="left">Description</th>
                                    </tr>
                                </thead>
                                <tr th:remove="all">
                                    <td>1</td>
                                    <td>Imagination recipe</td>
                                    <td><a href="#">View</a> </td>
                                </tr>
                                <tr th:remove="all">
                                    <td>2</td>
                                    <td>Thick air recipe</td>
                                    <td><a href="#">View</a> </td>
                                </tr>
                                <tr th:each="recipe : ${recipes}">
                                    <!--/*@thymesVar id="recipe" type="io.gitlab.chkypros.sf5btg.recipesapp.domain.Recipe"*/-->
                                    <td th:text="${recipe.id}">-1</td>
                                    <td th:text="${recipe.description}">No food recipe</td>
                                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>